body{
	background: #f9f9f9;
	font-family: "Ubuntu", sans-serif;
	color: #333;
}
#wrapper{
	width: 950px;
	margin: 2em auto;
	padding: 1em 2em;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background: #FFF;
}
a{
	color: #e23749;
	text-decoration: none
}
a:hover{
	color: #5baeb2;
	text-decoration: underline;
}
header{
	overflow: hidden;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 1em;
}
header #title{
	float: left;
}
header nav{
	padding-top: 1em;
	float: right;
	overflow: hidden;
}
header nav ul{
	list-style: none;
}
header nav li{
	float: left;
	padding-left: 15px;
}
input,button{
	line-height: 20px;
	font-size: 15px;
	padding: 2px;
	border: 1px #dfdfdf solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: sans-serif;
}
input[type="text"],input[type="email"],input[type="password"], textarea, select{
	color: #555;
	font-weight: 200;
	font-size: 24px;
	line-height: 1;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
	outline: 0;
	box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	font-family: "Ubuntu", sans-serif;
	transition:.1s linear;
	-webkit-transition:.1s linear;
	-moz-transition:.1s linear;
}
select{
	color:#000;
	font-size: 12pt;
}
textarea{
	font-size: 12pt;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus, textarea:focus, select:focus{
	box-shadow: inset 0 0 1px #333;
	border: 1px solid #333;
	outline: 0;
}
input[type="submit"],input[type="reset"],button{
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
	background-color: #c13046;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#e23749),to(#c13046));
	background-image: -webkit-linear-gradient(top,#e23749,#c13046);
	background-image: -moz-linear-gradient(top,#e23749,#c13046);
	background-image: -ms-linear-gradient(top,#e23749,#c13046);
	background-image: -o-linear-gradient(top,#e23749,#c13046);
	background-image: linear-gradient(to bottom,#e23749,#c13046);
	border-color: #c13046;
	border-bottom-color: #c13046;
	box-shadow: inset 0 1px 0 rgba(230, 160, 120, 0.5);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	transition:.1s linear;
	-webkit-transition:.1s linear;
	-moz-transition:.1s linear;
}
input[type="submit"]:hover,input[type="reset"]:hover,button:hover{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#e84d64),to(#c13046));
	background-image: -webkit-linear-gradient(top,#e84d64,#c13046);
	background-image: -moz-linear-gradient(top,#e84d64,#c13046);
	background-image: -ms-linear-gradient(top,#e84d64,#c13046);
	background-image: -o-linear-gradient(top,#e84d64,#c13046);
	background-image: linear-gradient(to bottom,#e84d64,#c13046);
	cursor: pointer;
}
input[type="submit"]:active,input[type="reset"]:active,button:active{
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
}
#index-wrapper{
	overflow: hidden;
	margin-bottom: 10px;
}
#index-ticket{
	width: 45%;
	float: left;
	border-right: 1px solid #eee;
}
#index-login{
	width: 50%;
	float: right;
}
#buttons{
	padding-bottom:10px;
}
table,tr,td{
	padding: 5px;
}
.ticket_message{
	padding: 5px;
	margin: 5px;
	margin-bottom: 0;
}
.ticket_message.client{
	border: 1px solid #ddd;
}
.ticket_message.agent{
	border: 1px solid #d54e21;
}
#ticket_options, #ticket_reply{
	margin: 10px 0;
}
hr{
	margin:30px 0;
	border:none;
	border-top: 1px solid #dfdfdf;
}
footer{
	overflow: hidden;
	border-top: 1px solid #dfdfdf;
	font-weight: 100;
}
footer .left{
	float: left;
}
footer .right{
	float: right;
}